.map-container-container {
    flex: 1;
    min-height: 480px;
    margin: auto;
    max-width: 38em;
}

#map-container {
    width: 100%;
    min-height: 480px;
    height: 100%;
}

/* progress styling https://css-tricks.com/some-innocent-fun-with-html-video-and-progress/ */

.progress-container {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 50px auto 95px;
    padding: 0.5rem;
}

.play-button {
    border: 0;
    display: inline;
    color: white;
    order: 1;
    padding: 0.5rem;
    transition: opacity 0.25s ease-out;
    width: 100%;
    height: 40px;
    font-size: larger;
    background-color: #db0000;
}
.play-button:hover {
    cursor: pointer;
}

.fullscreen-button {
    border: 0;
    display: inline;
    color: white;
    order: 1;
    padding: 0.5rem;
    transition: opacity 0.25s ease-out;
    width: 100%;
    height: 30px;
    background-color: #2c8898;
}
.fullscreen-button:hover {
    cursor: pointer;
}

.play-progress {
    cursor: pointer;
}

/* Fallback stuff */
.play-progress[value] {
    appearance: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    color: dodgerblue;
    display: inline;
    height: 30px;
    order: 1;
    position: relative;
    width: 100%;
}

/* WebKit styles */
.play-progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}

.play-progress[value]::-webkit-progress-value {
    background-image: linear-gradient(to right, #db0000, #ae1f00);
    border-radius: 3px;
    position: relative;
    transition: width 0.25s linear;
}

/* Firefox styles */
.play-progress[value]::-moz-progress-bar {
    background-image: -moz-linear-gradient(to right, #db0000, #ae1f00);
    border-radius: 3px;
    position: relative;
    transition: width 0.25s linear;
}

.control-group label {
    display: inline;
}

.range-slider {
    display: inline;
}
input[type='range'] {
    width: calc(100% - (100px));
    height: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

.control-group {
    border: 1px solid #2c8898;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-gap: 0.3rem;
    grid-template-columns: 190px auto;
}
